.container{
    border: 1px solid #FF4500;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px 50px;
}
.itens{
    /* width: 35%;
    height: 35%; */
    border: 1px solid #8B0000;
    font-size: 200%;
}