#conteiner{
    /* Vou trabalhar com Flexbox */
    display: flex;
    flex-direction: row;
    /* Evitar o overflow / evitar que o conteudo ultrapasse a largura da tela */
    flex-wrap: wrap;
}

.itens{
    border: 2px solid black;
    width: 50px;
    height: 50px;
}

